<table>
    <thead>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>State</th>
            <th>Sales</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let s of salespeople">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.stateCode}}</td>
            <td>{{s.sales}}</td>
            
            <td>
                <span>
                    <a routerLink="/salesperson/detail/{{s.id}}">Detail</a>
                </span>
                <span>  |  </span>
                <span>
                    <a routerLink="/salesperson/edit/{{s.id}}">Edit</a>
                </span>
            </td>

        </tr>
        
    </tbody>
    
    </table>
