<app-menu></app-menu>

<table id="tables" class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Is National</th>
            <th>Sales</th>
            <th>Created</th>          
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{cust.id}}</td>
            <td>{{cust.code}}</td>
            <td>{{cust.name}}</td>
            <td>{{cust.isNational ? "Y" : "N"}}</td>
            <td>{{cust.sales | currency}}</td>
            <td>{{cust.created | date: 'shortDate'}}</td>

        </tr>
    </tbody>
</table>
